<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Ice Cream
    </title>
</head>
<body>
    <header> 
        
        <div class="titulo">
            <h1>Ice Cream</h1>
            <p>With Vegan Ingredients</p>
        </div>
    
    
        
    </header>
    <nav>
            <a class="dest" href="#">FLAVOURS</a>
            <a href="#"style="background-color: var(--cor2);">strawberry</a>
            <a href="#" style="background-color: var(--cor1);">kiwi</a>
            <a href="#"style="background-color: var(--cor2);">tangerine</a>
            <a href="#" style="background-color: var(--cor1);">lemon</a>
            <a href="#"style="background-color: var(--cor2);">chocolate</a>
        </nav>
    <main>
        <section class="lateral">
            <div class="banner1">
                <h2>Kiwi VEGAN</h2>
                <p>ice cream recipes</p>
                <picture>
                    <img src="../IMG/caneca-sorvete.jpg" alt="">
                </picture>
                <h3>Lorem ipsum</h3>
                <p class="estilizado">lorem ipsum et labore</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eaque tenetur sunt cupiditate et  </p>
            </div>
            <div class="comeco">
                    <img src="../IMG/copo-suco.jpg" alt="">
                    <h1>TO TAKE &</h1>
                        <h2>TO TAKE IN OUR LOCAL</h2>
                    </div>
            </section>
             
        </section>
        <section class="lateral2">
           
    <div class="banner2">
                <picture>
                    <img src="../IMG/casquinha-sorvete.jpg" alt="" style="padding-top: 2px;">
                </picture>
                <h3>Lorem ipsum</h3>
                <p class="estilizado">lorem ipsum et labore</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eaque tenetur sunt cupiditate et </p>
            </div>
        </main>
</body>
</html>